body {
	background-color: yellow;
}
#banner{
	height :150px;
	background: orange;
}
#wrap{ 
	width			: 80%;
	height			: 50%;
	border-style	: solid;
	border-color	: #FF0066;
	border-width	: 20px;
	background-color: #3399FF;

}
#links{ 
	width			: 80%;
	height			: 50%;
	border-style	: solid;
	border-color	: black;
	border-width	: 20px;
	background-color: #3399FF;

}

nav ul{
	border 		: solid 1px black;
	list-style	: none; /*removes bullets */
	padding		: 0px
}

nav ul li{
	border 		: solid 1px black;
	width 		: 20%;
	text-align	:  center; 
	display		: inline-block; /*puts nav in a row */
}

nav ul li:hover{  /*dynamic link when hover */
	background	: red;
	color 		: white;
}

section{
	width: 45%
	height: 100vh;
	background:  #3399FF;

}

.person{
	background-color: green;
}

.place{
	background-color: red;
}

.thing{
	background-color: white;
}

a{
	color 			: orange;
	text-decoration	: none;
}
}

a:visited{
	color 			:black;
}
/* comment */